* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #D9DCD6 !important;
}

nav {
    background-color: #2f6690 !important;
}

body::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scroll vertical */
    height: 12px;
    /* Alto del scroll horizontal */
}

body::-webkit-scrollbar-track {
    background: #001f38;

    /* Color de fondo del track */
    border-radius: 0px !important;
    /* Bordes redondeados */
}

/* Estiliza el "thumb", que es la parte que se desplaza */
body::-webkit-scrollbar-thumb {
    background: #2f6690;
    border: 3px solid #001f38;
    /* Color del thumb */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estiliza el "thumb" al pasar el mouse por encima */
body::-webkit-scrollbar-thumb:hover {
    background: #65adff;
    /* Color más oscuro al pasar el mouse */
}

footer {
    background-color: #2f6690;
    color: #ffffff;
    padding: 15px 50px;
}

footer img {
    max-height: 0px;
}





header {
    z-index: 15;
    top: 0;
    position: fixed;
    width: 100dvw !important;
    max-width: 100dvw !important;
}

.header-guille,
.header-guille * {

    background-color: #2f6690 !important;
    color: #fff !important;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarel;
}

.header-guille img {
    max-height: 60px;

}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.section-hero-menu {
    padding-top: 76px;
    height: calc(100dvh - 64px);
}

.hero-menu {
    border: 10px solid #001324;
    height: calc(100dvh - 75px);
    width: 100%;
    object-fit: cover;
}

.section-main {
    padding: 100px 0;
}

@media (width<800px) {
    .hero-menu {
        width: 100dvw;
        height: auto;
    }

    .section-main {
        padding-top: 20px;
    }

    .section-hero-menu {
        height: auto;
    }
}



.section-menu {
    background-color: #D9DCD6;
    margin-bottom: 70px;

    & h2 {
        margin: auto;
        text-align: center;
        color: #002555;
        padding-top: 30px;

        font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarel;
    }
}

.galeria-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 70px;
}

.galeria-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 20px;
    padding-right: 10px;
    gap: 20px;
    max-width: 44dvh;
    /* max-height: 70dvh; */
    /* overflow: auto; */
    height: auto;
}

.card-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 44dvh;
    height: 25dvh;

    & div {
        max-height: 80%;
        overflow: auto;
        margin-right: 5px;
    }


    & span,
    p {
        text-wrap: pretty;
        font-size: 2dvh;
        line-height: 15px;
        padding-right: 5px;
        margin: 10px 0;
        color: #000;
        font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarel;
    }

    & span {
        font-weight: bold;
        font-size: 2.2dvh;
        color: #002555 !important;
        border-bottom: 1px solid #002555 !important;
    }

    & img {

        aspect-ratio: 1/1;
        height: 80%;
        border-radius: 12px;
    }
}

.card-menu-descripcion {
    overflow: hidden !important;

    & p {
        line-height: 3dvh;
    }
}

.galeria-menu::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scroll vertical */
    height: 12px;
    /* Alto del scroll horizontal */
}

::-webkit-scrollbar-track {
    background: #001f38;

    /* Color de fondo del track */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estiliza el "thumb", que es la parte que se desplaza */
::-webkit-scrollbar-thumb {
    background: #3f99ff;
    border: 3px solid #001f38;
    width: 8px;
    height: 8px;
    /* Color del thumb */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estiliza el "thumb" al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #65adff;
    /* Color más oscuro al pasar el mouse */
}


.mobile {
    display: none !important;
}

@media (width<1100px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: none;
    width: 46dvh;
    height: 46dvh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: #357fb8f2;
    box-shadow: 0 0 5px 5px #0030551e;
    border-radius: 10px;
    padding: 25px;
    overflow: hidden;

    & div {
        max-width: 80%;
        text-align: center;
        text-wrap: pretty;
    }

    & button {
        position: absolute;
        top: -5px;
        right: 15px;
        border: none;
        background-color: transparent;
        font-size: 40px;
        color: #fff;
    }

}

.modal img {
    width: 60%;
    height: 60%;
    border-radius: 20px;
}

.modal div {
    margin-top: 20px;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarel;

    & span {
        font-size: 2.2dvh;
        font-weight: bold;
        color: #adfcff;
    }

    & p {
        font-size: 1.8dvh;
        margin-top: 10px;
        line-height: 1.8;

    }

}

.modal-description {
    overflow: auto;
}


.modal-description::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scroll vertical */
    height: 12px;
    /* Alto del scroll horizontal */
}

::-webkit-scrollbar-track {
    background: #001f38;

    /* Color de fondo del track */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estiliza el "thumb", que es la parte que se desplaza */
::-webkit-scrollbar-thumb {
    background: #3f99ff;
    border: 3px solid #001f38;
    width: 8px;
    height: 8px;
    /* Color del thumb */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estiliza el "thumb" al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #65adff;
    /* Color más oscuro al pasar el mouse */
}

.nav-link:hover {
    color: #00c3ff !important;
}